
/* - ++resource++plonetheme.modelica.stylesheets/main.css - */
@media screen {
/* https://modelica.org/portal_css/++resource++plonetheme.modelica.stylesheets/main.css?original=1 */
/* */
#portal-column-content table {
border-width: 1px;
border-spacing: 2px;
border-style: outset;
border-color: gray;
border-collapse: collapse;
background-color: white;
}
#portal-column-content th {
vertical-align: top;
border-width: 1px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: white;
-moz-border-radius: 0px 0px 0px 0px;
}
#portal-column-content td {
vertical-align: top;
border-width: 1px;
padding: 5px;
border-style: inset;
border-color: gray;
background-color: white;
-moz-border-radius: 0px 0px 0px 0px;
}
#portal-column-one {
background: #EEEEEE;
border-bottom: 1px solid #EEEEEE;
width: 20em;
}
#portal-column-two {
background: transparent;
border-top: 1px solid #BBBBBB;
border-bottom: 1px solid #BBBBBB;
width: 25em;
}
#portal-column-content {
border-left: 1px solid #BBBBBB;
border-top: 1px solid #BBBBBB;
border-bottom: 1px solid #BBBBBB;
}
#portal-personaltools {
display: none;
border-bottom: none;
}
#portal-breadcrumbs {
border-top: 2px solid #BBBBBB;
border-bottom: none;
background: #EEEEEE;
padding-top: 10px;
padding-bottom: 10px;
}
h1 {
border-bottom: 3px ridge red;
}
h2, h3 {
border-color: red;
display: inline;
}
#portal-footer {
border-top: 1px solid #EEEEEE;
margin: 0 0 0 0;
}
.portlet {
margin-right: 10px;
}
#portal-column-one dl.portlet {
border: none;
}
#portal-column-one dt {
border: none;
}
#portal-column-one dd {
border: none;
background: transparent;
}
#portal-column-one dl {
border: none;
background: transparent;
}
#portal-column-two dl.portlet {
border: none;
}
#portal-column-two dt {
background: transparent;
border: none;
}
#portal-column-two dd {
border: none;
background: transparent;
}
#portal-column-two dl {
border: none;
background: transparent;
}
.navTreeItem a, dd.portletItem .navTreeItem a {
border-color: #EEEEEE;
padding: 0;
}
#portal-column-one div.visualPadding {
padding-left: 5px;
}
.portlet dt a.tile {
font-size: 125%;
border-bottom: 1px solid red;
}
.portlet dt a span {
font-size: 125%;
border-bottom: 1px solid red;
}
.portletNavigationTree dt a.tile {
border-color: #EEEEEE;
padding: 2px 5px 2px 2px;
font-size: 125%;
font-weight: bold;
background: #DDDDDD;
/* */
}
/* */
#portal-globalnav {
/* */
line-height: normal;
list-style: none;
display: inline;
}
#portal-globalnav li {
border: none;
display: inline;
padding: 0;
padding-top: 7px;
margin: 0;
line-height: normal;
background: url("../../Plone/norm_right.gif") no-repeat right top;
}
#portal-globalnav li.selected {
border: none;
display: inline;
padding: 0;
padding-top: 7px;
padding-bottom: 2px;
margin: 0;
line-height: normal;
background: url("../../Plone/norm_right_on.gif") no-repeat right top;
}
#portal-globalnav li a {
border: none;
padding-top: 5px;
background: url("../../Plone/norm_left.gif") no-repeat left top;
font-size: 125%;
}
#portal-globalnav li a:hover {
border: none;
padding-top: 5px;
color: black;
background: url("../../Plone/norm_left.gif") no-repeat left top;
font-size: 125%;
}
#portal-globalnav li.selected a {
border: none;
padding-top: 5px;
text-color: black;
background: url("../../Plone/norm_left_on.gif") no-repeat left top;
font-size: 125%;
}
#portal-globalnav li.selected a:hover {
border: none;
padding-top: 5px;
color: black;
background: url("../../Plone/norm_left_on.gif") no-repeat left top;
font-size: 125%;
}
/* */
#portal-globalnav {
display: none;
}
#portal-columns {
border: 0px;
border-collapse: separate;
}

}

